/* 	CUSTOM BRANDING CSS 
	This file contains styleable elements and their default styles, with global settings inherited from custom-bootstrap.css.  
	Any additional customisation should be placed in this file.
*/

/* Target specific size screens here */
	@media (min-width: 1200px) {
	/* Large desktop */
	}

	@media (min-width: 768px) and (max-width: 979px) { 
	/* Portrait tablet to landscape and desktop */

	}

	@media (max-width: 767px) { 
	/* Landscape phone to portrait tablet */

	}

	@media (max-width: 480px) { 
	/* Landscape phones and down */

	}


/* GENERAL START */
	body {
	margin: 0;
	font-family: "NOTHS Sans No2 Regular","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #555;
	background-color: white;
	background: #fff url(http://cdn3.notonthehighstreet.com/images/site/backgrounds/gradient_bg.png) 0 220px repeat-x;
	}

	body a {
		color:#0ca6d4;
	}
	
	body a:hover {
		color:#0ca6d4;
	}
	
	.container-fluid{ 
		max-width:940px; margin:auto; 
	}
	
	/* LOGO */

	#header .header_logo a {
		display: block;
		height: 100%;
		width: 100%;
	}

	.header_logo {
		width: 263px;
		height: 129px;
		position: relative;
		margin-top: 7px;
		z-index: 1;
		background-size: 100%;
	}

	/* LOGO END */

	/* SIGN IN */

	#header_login a {
		color: #555;
	}

	#header_login a:hover {
		color: #0ca6d4;
		border-color: #0ca6d4;
		text-decoration: none;
	}

	/* SIGN IN END */
	
	/* NAVIGATION START */
		ul, ol {
		padding: 0;
		margin: 0 0 9px 25px;
		}

		.nav {
		margin-left: 0;
		margin-bottom: 18px;
		list-style: none;
		}

		.nav-list {
		font-family: "NOTHS Sans No2 SemiBold","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
		color: #434343;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 0;
		text-transform: uppercase;
		}

		.menu .nav {
		padding: 0;
		}

		li {
		line-height: 18px;
		}

		.menu .nav li {
		float: left;
		width: 25%;
		}

		.nav > li > a {
		display: block;
		}

		.nav-list > li > a, .nav-list .nav-header {
		margin-left: -15px;
		margin-right: -15px;
		}

		.nav-list > li > a {
		padding: 3px 15px;
		color: #434343;
		}

		.nav-list > li > a:hover {
		border: 1px solid #ccc!important;
		background-color: #fff;
		margin-bottom: 3px;
		}

		.nav-list > .active > a, .nav-list > .active > a:hover {
		background-color: #fff;
		position: relative;
		}

		.menu .nav li.active a {
		border-bottom: 5px solid #0ca6d4;
		box-shadow: none;
		color: #434343;
		}

		.menu .nav li.active a:hover {
		box-shadow: none;
		border-bottom: 5px solid #0ca6d4!important;
		position: relative;
		}

		.menu .nav li a {
		margin: 0;
		padding: 5px 5%;
		margin: 3px 1%;
		border: none;
		text-align: center;
		border-radius: 3px;
		font-weight: bold;
		}

		.menu .nav li:first-child a {
		margin-left: 0;
		}

		.breadcrumb_noths {
		margin: 10px 0 20px 0;
		font-family: "NOTHS Sans No2 Regular","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
		font-style: normal;
		font-size: 12px;
		color: #434343;
		text-transform: uppercase;
		}

	/* NAVIGATION END */
	
	#cnl_footer_left, #cnl_footer_right {
	padding-top: 20px;
	}	
/* GENERAL END */

/* noths button */

.btn-noths {
border: 1px solid #056582;
-moz-box-shadow: inset 0 1px 0 #3ab4d9,0 1px 1px rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0 1px 0 #3ab4d9,0 1px 1px rgba(0,0,0,0.3);
box-shadow: inset 0 1px 0 #3ab4d9,0 1px 1px rgba(0,0,0,0.3);
background-color: #0a89af;
background-repeat: no-repeat;
background-image: -ms-linear-gradient(top, #0ca6d4 0, #0a89af 100%);
background-image: -webkit-gradient(linear, left top, left bottom, from(#0ca6d4), to(#0a89af));
background-image: -webkit-linear-gradient(#0ca6d4, #0a89af);
background-image: -moz-linear-gradient(#0ca6d4, #0a89af);
background-image: -o-linear-gradient(top, #0ca6d4, #0a89af);
background-image: -khtml-gradient(linear, left top, left bottom, from(#0ca6d4), to(#0a89af));
background-image: linear-gradient(top, #0ca6d4 0, #0a89af 100%);
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#0ca6d4', EndColorStr='#0a89af', GradientType=0);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0ca6d4', EndColorStr='#0a89af', GradientType=0))";
filter: none;
color: white;
font-family: "NOTHS Sans No2 Regular","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
color: #ffffff;
text-align: center;
margin: 0 auto;
border-radius: 6px;
overflow: visible;
cursor: pointer;
display: inline-block;
text-decoration: none;
text-transform: uppercase;
line-height: normal;
padding: 10px 16px 8px;
font-size: 14px;
border-radius: 5px;
line-height: 18px;
height: 38px;
width: 87px;
}

/* SEARCH AND RESULTS PAGES START */

	#map_canvas{ 
	width:100%; 
	height:300px; 
	}
	
	
/* SEARCH AND RESULTS PAGES END */

/

/* POSITION DISPLAY PAGE START */

	.position_additional_detail {
	background: white;
	padding: 5px;
	border-radius: 3px;
	}

	.padded {
	padding-top: 10px;
	padding-bottom: 10px;
	}
	
	.buttoncenter {
	margin-bottom: 10px;
	}	
	
	.share_links {
	margin-top: 10px;
	}

/* POSITION DISPLAY PAGE END */

/* BIO, PEP, APPLICATION FORM START */

	input[type="checkbox"]:focus {
		outline: none;
	}

	input[type="checkbox"] {
	width: 15px;
	height: 15px;
	margin: 0;
	-webkit-appearance: none;
	background: url('http://cdn2.notonthehighstreet.com/images/shared/icons/checkbox.png?1390473786') no-repeat;
	cursor: pointer;
	}

	input[type="checkbox"]:checked {
	width: 15px;
	height: 15px;
	margin: 0;
	-webkit-appearance: none;
	background: url('http://cdn3.notonthehighstreet.com/images/shared/icons/checkbox_selected.png?1390473786') no-repeat;
	cursor: pointer;
	}

	form.iswForm .iswQuestionErrorPanel {
	background-color: #ffdee2;
	border: 1px solid #cc0000;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666666;
	margin: 10px;
	padding: 5px;
	float: right;
	width: 25%;
	}
	
	form.iswForm .iswQuestionErrorPanel {
	width: auto;
	float: none;
	}	
	
	form.iswForm .iswQuestionOptionsError input {
	border: 1px solid #cc0000;
	background-color: #ffff80;
	}	
	
	form.iswForm .iswQuestionOptions span input {
	margin-left: 3px;
	}	
	
	form.iswForm .iswQuestionHeading {
	width: 100%;
	padding: 3px 0;
	}
	
	form.iswForm .iswQuestionQuestionText p {
	font-weight: bold;
	font-size: inherit;
	text-align: left;
	margin: 5px 10px 5px 10px;
	padding: 2px 2px;
	}	
	
	form.iswForm .iswQuestionHelpPanel {
	border: 1px solid #666666;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666666;
	margin: 10px;
	padding: 5px;
	}	
	
	form.iswForm .iswNavigationBarMain {
	text-align: center;
	}
	
	progress .linkColor-bar {

	}	

/* BIO, PEP, APPLICATION FORM END */